{% extends 'template.html' %}
{% load static %}
{% block body %}
  <body>
    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>

    <!--=======Header=======-->
    <header>
      <div class="nav-bar">
        <a href="#" class="logo">Martian</a>
        <div class="navigation">
          <div class="nav-items">
            <div class="nav-close-btn"></div>
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/services">Services</a>
            <a href="/partfolio">Partfolio</a>
            <a href="/contact">Contact</a>
          </div>
        </div>
        <div class="nav-menu-btn"></div>
      </div>
    </header>

    <!--=======Home section=======-->
    <section class="home flex-center" id="home">
      <div class="home-container">
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter "></i></a>
        </div>
        <div class="info">
          <h2>Hi, I am Martian</h2>
          <h3>Front-end Developer</h3>
          <p>I create stunning websites for your business, Highly experienced in web design and development.</p>
          <a href="#" class="btn">Contact Me <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <div class="home-img">
          <img src="{% static 'polls/img/main-img.png' %}" alt="">
        </div>
      </div>
      <a href="#about" class="scroll-down">Scroll-down<i class="fas fa-arrow-down"></i></a>
    </section>
</div>
{% endblock %}


    <!--=======Footer=======-->
    <footer>
      <div class="footer-container">
        <div class="hr"></div>
        <div class="info group">
          <h3>More</h3>
          <ul>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#services">Services</a></li>auth_permission
            <li><a href="#partfolio">Partfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="hr"></div>
      </div>
    </footer>
    <!--=======External scripts=======-->
    <script src="{% static 'polls/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'polls/js/main.js' %}"></script>

  </body>
</html>
