{% extends 'template.html' %}
{% load static %}
{% block body %}
   <!--=======Portfolio section=======-->
    <section class="partfolio section" id="partfolio">
      <div class="container flex-center">
        <h1 class="section-title-01">Partfolio</h1>
        <h2 class="section-title-02">Partfolio</h2>
        <div class="content">
          <div class="partfolio-list">
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Web Desing</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'polls/img/port-img1.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Web Desing</h3>
                  <img src="{% static 'polls/img/port-img1.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>UI/UX Desing</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'polls/img/port-img2.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>UI/UX Desing</h3>
                  <img src="{% static 'polls/images/port-img2.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Branding &x Desing</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'pools/img/port-img3.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Branding &x Desing</h3>
                  <img src="{% static 'polls/img/port-img3.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Web Development</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'polls/img/port-img4.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Web Development</h3>
                  <img src="{% static 'polls/img/port-img4.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Content Writing</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'polls/img/port-img5.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Content Writing</h3>
                  <img src="{% static 'polls/img/port-img5.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Interface Desing</h3>
                  <span>Youtube</span>
                </div>
                <img src="{% static 'polls/img/port-img6.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Interface Desing</h3>
                  <img src="{% static 'polls/img/port-img6.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=======Get-in-touct=======-->
      <div class="get-in-touch sub-section">
        <div class="container">
          <div class="content flex-center">
            <div class="contact-card flex-center">
              <div class="title">
                <h4>Let's Talk</h4>
                <h3>About Your</h3>
                <h2>Next Project</h2>
              </div>
              <div class="contact-btn">
                <a href="#!" class="btn">Get In Touch <i class="fas fa-paper-plane"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=======Our Clients=======-->
      <div class="our-client sub-section">
        <div class="container flex-center">
          <h1 class="section-title-01">Our Clients</h1>
          <h2 class="section-title-02">Our Clients</h2>
          <div class="content">
               <div class="swiper client-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'polls/img/client.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Hi, I'm Aria Collins and I am designer & developer who dream making the world better place by products. I am also very active for international clients.</p>
                    <h3>Aria Collins</h3>
                    <span>Marketing Manager</span>
                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'polls/img/client2.jpg' %}" alt="">
                  </div>
                  <div class="client-details">
                    <p>This is outstanding work. Everything I needed to do has been done by the makers. I really like this template and more importantly my clients are blown away by it.</p>
                    <h3>Cillian Metcalfe</h3>
                    <span>Graphic Designer</span>
                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'polls/img/client3.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>These people really know what they are doing! Great customer support availability and supperb kindness. I am very happy that I've purchased this liscense!!!</p>
                    <h3>Kianna Baird</h3>
                    <span>App Developer</span>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}