{% extends 'template.html' %}
{% load static %}
{% block body %}
    <!--=======Services section=======-->
    <section class="services section " id="services">
      <div class="container flex-center">
        <h1 class="section-title-01">Services</h1>
        <h2 class="section-title-02">Services</h2>
        <div class="content">
          <div class="services-description">
            <h3>What I provide</h3>
          </div>
          <ul class="service-list">
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-pencil-ruler"></i>
                <h3>Ui/UX Consultancy</h3>
                <div class="learn-more-btn">Learn More <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Ui/UX Consultancy</h3>
                  <h4>What is UX consulting?</h4>
                  <p>UX consulting helps companies improve their product's overall usability and optimize expenses by implementing the right UX processes, methods, and tools.</p>
                  <h4>What I provide</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Establish the right UX processes</li>
                    <li><i class="fas fa-check-circle"></i>Create exceptional user experiences</li>
                    <li><i class="fas fa-check-circle"></i>Discover new business opportunities</li>
                    <li><i class="fas fa-check-circle"></i>Save resources</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-photo-video"></i>
                <h3>Branding & Design</h3>
                <div class="learn-more-btn">Learn More <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Branding & Design</h3>
                  <h4>What is Brand & Design?</h4>
                  <p>Brand Design can be defined as one of the crucial marketing practices of creating the name, logo, design, and the symbolic elements related to the brand to create a distinctive identity in comparison to the other brands in the market and also providing impetus to the product differentiation.</p>
                  <h4>What I provide</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Logo Design</li>
                    <li><i class="fas fa-check-circle"></i>Banner Design</li>
                    <li><i class="fas fa-check-circle"></i>Visual Identity Packages</li>
                    <li><i class="fas fa-check-circle"></i>Business Cards & Business Systems</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-file-code"></i>
                <h3>Web Development</h3>
                <div class="learn-more-btn">Learn More <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Web Development</h3>
                  <h4>What is Web Development?</h4>
                  <p>Web development services are used to design, build, support, and evolve all types of web-based software.</p>
                  <h4>What I provide</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Web application development</li>
                    <li><i class="fas fa-check-circle"></i>Testing</li>
                    <li><i class="fas fa-check-circle"></i>Maintenance</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-align-left"></i>
                <h3>Content Writing</h3>
                <div class="learn-more-btn">Learn More <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Content Writing</h3>
                  <h4>What is Content Writing??</h4>
                  <p>Content writing is the process of planning, writing and editing web content, typically for digital marketing purposes.</p>
                  <h4>What I provide</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Web content writing</li>
                    <li><i class="fas fa-check-circle"></i>Blog writing for websites</li>
                    <li><i class="fas fa-check-circle"></i>Social media content</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
{% endblock %}