{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Personal Portfolio Website - Html, Css & Javascript</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'polls/img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'polls/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <header>
      <div class="nav-bar">
        <a href="/" class="logo">Martian</a>
        <div class="navigation">
          <div class="nav-items">
            <div class="nav-close-btn"></div>
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/services">Services</a>
            <a href="/partfolio">Partfolio</a>
            <a href="/contact">Contact</a>
          </div>
        </div>
        <div class="nav-menu-btn"></div>
      </div>
    </header>

  <body>

    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>

    {% block body%}
    {% endblock %}
     </body>
    <!--=======Footer=======-->
    <footer>
      <div class="footer-container">
        <div class="hr"></div>
        <div class="info group">
          <h3>More</h3>
          <ul>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#partfolio">Partfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="hr"></div>
      </div>
    </footer>
    <!--=======External scripts=======-->
    <script src="{% static 'polls/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'polls/js/main.js' %}"></script>

</html>
